.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 20%;
    background-color: var(--lightBlue);
    margin-right: 30px;
}

